.my-map {
	width: 100%; 
	height: 350px;
}


.my-map-bigger {
	width: 100%; 
	height: 500px !important;
}

.map-full-size {
	width: 100%;
	height: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #f0f0f0;
}

.progress-bar {
  height: 8px;
  background: #29BAE4;
  width: 0%;
}

.mi-coche-scroll-class{
	margin-top: -10px !important);
}

.header-seccion-analisis {
	background-image: url("../images/fondo05.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 125px;
	padding-bottom: 125px;
	box-shadow:inset 0 0 0 2000px rgba(238,119,173, 0.9);
}

.header-seccion-resultados {
	background-image: url("../images/fondo04.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 125px;
	padding-bottom: 125px;
	box-shadow:inset 0 0 0 2000px rgba(238,119,173, 0.9);
}

.header-seccion-conclusiones {
	background-image: url("../images/fondo03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 125px;
	padding-bottom: 125px;
	box-shadow:inset 0 0 0 2000px rgba(238,119,173, 0.9);
}

.resultados-datos-secction{
	background-image: url("../images/fondoFestivales.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 125px;
	padding-bottom: 125px;
	box-shadow:inset 0 0 0 2000px rgba(41, 186, 228, 0.85);
}